.container {
    margin-left: 35px;

}

.container .header {
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px;
    font-weight: 200;
    text-align: left;
    line-height: 0.3;
}

.image {
    width: 98%;
    height: 400px;
}

.downContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.downHeader {
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px;
    font-weight: 200;
    text-align: right;
    margin-top: 1px;
}

.downPara {
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 550;
    text-align: left;
    margin-left: 10px;
}

.downBtn {
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    outline: none;
    background: #d3e9fa;
    text-align: left;
    margin-left: -6px;
    font-weight: 550;
}